.feature-card1-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card1-feature-card:hover {
  transform: scale(1.02);
}
.feature-card1-text {
  align-self: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card1-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}





.projet-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.projet-navbar-interactive {
  width: 100%;
  height: 154px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.projet-navlink {
  display: contents;
}
.projet-image {
  width: 105px;
  height: 105px;
  border-radius: 50px;
  text-decoration: none;
  border-top-left-radius: 10;
  border-top-right-radius: 10;
  border-bottom-left-radius: 10;
  border-bottom-right-radius: 10;
}
.projet-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.projet-links {
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.projet-membres {
  color: #3c99d2;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  text-decoration: none;
}
.projet-projet {
  color: #3c99d2;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.projet-rapport {
  color: #3c99d2;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.projet-burger-menu {
  display: none;
}
.projet-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.projet-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.projet-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.projet-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.projet-logo {
  height: 2rem;
}
.projet-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projet-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.projet-links1 {
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.projet-membres1 {
  color: #3c99d2;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  text-decoration: none;
}
.projet-projet1 {
  color: #3c99d2;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.projet-rapport1 {
  color: #3c99d2;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  margin-left: var(--dl-space-space-twounits);
  text-decoration : none;
}
.projet-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.projet-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.projet-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.projet-hero {
  width: 100%;
  height: 836px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
 /* background-image: url("public/external/3-1500h.jpg");*/
 background-color: #0b173d;
}
.projet-text04 {
  color: #3facac;
  font-size: 5rem;
  max-width: 700px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.projet-text07 {
  color: #3facac;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.projet-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.projet-text08 {
  font-size: 4rem;
  text-align: center;
}
.projet-text09 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.projet-text10 {
  font-size: 25px;
}
.projet-text11 {
  font-size: 25px;
}
.projet-text12 {
  font-size: 25px;
}
.projet-text13 {
  font-size: 25px;
}
.projet-text14 {
  font-size: 25px;
}
.projet-text15 {
  font-size: 25px;
}
.projet-text16 {
  font-size: 25px;
}
.projet-text17 {
  font-size: 25px;
}
.projet-text18 {
  font-size: 25px;
}
.projet-text19 {
  font-size: 25px;
}
.projet-text20 {
  font-size: 25px;
}
.projet-text21 {
  font-size: 25px;
}
.projet-text22 {
  font-size: 25px;
}
.projet-gallery-card {
  width: 100%;
  height: 580px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.projet-image1 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 582px;
  position: absolute;
  object-fit: cover;
}
.projet-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.projet-text25 {
  font-size: 4rem;
  text-align: center;
}
.projet-text26 {
  font-size: 25px;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.projet-gallery-card1 {
  width: 100%;
  height: 580px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.projet-image2 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 582px;
  position: absolute;
  object-fit: cover;
}
.projet-banner2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.projet-text27 {
  font-size: 4rem;
  text-align: center;
}
.projet-text28 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.projet-text29 {
  font-size: 25px;
}
.projet-gallery-card2 {
  width: 100%;
  height: 580px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.projet-image3 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 582px;
  position: absolute;
  object-fit: cover;
}
.projet-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.projet-text32 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.projet-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.projet-component {
  text-decoration: none;
}
.projet-component1 {
  text-decoration: none;
}
.projet-component2 {
  text-decoration: none;
}
.projet-component3 {
  text-decoration: none;
}
.projet-footer {
  width: 100%;
  height: 0px;
  display: flex;
  max-width: auto;
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #ffffff;
}
.projet-text33 {
  color: #3c99d2;
}
@media(max-width: 991px) {
  .projet-text09 {
    max-width: 100%;
  }
  .projet-text26 {
    max-width: 100%;
  }
  .projet-text28 {
    max-width: 100%;
  }
  .projet-text32 {
    align-self: center;
  }
  .projet-container1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .projet-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projet-desktop-menu {
    display: none;
  }
  .projet-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projet-icon {
    fill: #090b12;
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
  }
  .projet-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projet-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projet-text09 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .projet-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projet-text26 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .projet-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projet-text28 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .projet-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projet-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projet-text33 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .projet-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .projet-mobile-menu {
    padding: 16px;
  }
  .projet-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .projet-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .projet-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .projet-banner2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .projet-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .projet-container1 {
    grid-gap: var(--dl-space-space-halfunit);
  }
  .projet-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .projet-text33 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
