.testimonial-card1-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card1-icon {
  width: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card1-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card1-text {
  color: var(--dl-color-gray-500);
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.testimonial-card1-text1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card1-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}

@media(max-width: 767px) {
  .testimonial-card1-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .testimonial-card1-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card1-icon {
    margin-bottom: var(--dl-space-space-unit);
  }
  .testimonial-card1-text {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card1-text1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
}

.testimonial-card2-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card2-icon {
  width: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card2-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card2-text {
  color: var(--dl-color-gray-500);
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.testimonial-card2-text1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card2-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}

@media(max-width: 767px) {
  .testimonial-card2-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .testimonial-card2-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card2-icon {
    margin-bottom: var(--dl-space-space-unit);
  }
  .testimonial-card2-text {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card2-text1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
}

.testimonial-card3-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card3-icon {
  width: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card3-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card3-text {
  color: var(--dl-color-gray-500);
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.testimonial-card3-text1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card3-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}

@media(max-width: 767px) {
  .testimonial-card3-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .testimonial-card3-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card3-icon {
    margin-bottom: var(--dl-space-space-unit);
  }
  .testimonial-card3-text {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card3-text1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
}

.testimonial-card4-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card4-icon {
  width: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card4-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card4-text {
  color: var(--dl-color-gray-500);
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.testimonial-card4-text1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card4-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}

@media(max-width: 767px) {
  .testimonial-card4-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .testimonial-card4-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card4-icon {
    margin-bottom: var(--dl-space-space-unit);
  }
  .testimonial-card4-text {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card4-text1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
}

.blanc-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

@media(max-width: 767px) {
  .blanc-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .blanc-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}

.testimonial-card5-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card5-icon {
  width: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card5-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card5-text {
  color: var(--dl-color-gray-500);
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.testimonial-card5-text1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card5-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}



@media(max-width: 767px) {
  .testimonial-card5-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .testimonial-card5-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card5-icon {
    margin-bottom: var(--dl-space-space-unit);
  }
  .testimonial-card5-text {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card5-text1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
}

.membres-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.membres-navbar-interactive {
  width: 100%;
  height: 154px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #000000;
}
.membres-navlink {
  display: contents;
}
.membres-image {
  width: 105px;
  height: 105px;
  border-radius: 50px;
  text-decoration: none;
  border-top-left-radius: 10;
  border-top-right-radius: 10;
  border-bottom-left-radius: 10;
  border-bottom-right-radius: 10;
}
.membres-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.membres-links {
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.membres-membres {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  text-decoration: none;
}
.membres-projet {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.membres-rapport {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.membres-burger-menu {
  display: none;
}
.membres-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.membres-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.membres-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.membres-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.membres-logo {
  height: 2rem;
}
.membres-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.membres-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.membres-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.membres-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.membres-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.membres-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.membres-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.membres-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.membres-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.membres-login {
  margin-right: var(--dl-space-space-twounits);
}
.membres-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.membres-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.membres-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.membres-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/imagine_a_scene_in_a_haunted_house_in_three_dim-1500h.jpg");
}
.membres-text07 {
  color: var(--dl-color-gray-white);
  width: 800px;
  font-size: 5rem;
  max-width: 800px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.membres-text08 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 2px;
}
.membres-testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.membres-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.membres-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
.membres-testimonial1 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.membres-container3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.membres-container4 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.membres-footer {
  width: 100%;
  height: 0px;
  display: flex;
  max-width: auto;
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #000000;
}
.membres-text16 {
  color: rgb(255, 255, 255);
}
@media(max-width: 991px) {
  .membres-text08 {
    text-align: center;
  }
  .membres-text09 {
    text-align: center;
  }
  .membres-text10 {
    text-align: center;
  }
  .membres-text11 {
    text-align: center;
  }
  .membres-text12 {
    text-align: center;
  }
  .membres-text13 {
    text-align: center;
  }
  .membres-text14 {
    text-align: center;
  }
  .membres-text15 {
    text-align: center;
  }
  .membres-container2 {
    grid-template-columns: 1fr;
  }
  .membres-container4 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 767px) {
  .membres-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .membres-desktop-menu {
    display: none;
  }
  .membres-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .membres-icon {
    fill: #ffffff;
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
  }
  .membres-text02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .membres-text03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .membres-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .membres-text05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .membres-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .membres-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .membres-text08 {
    text-align: center;
  }
  .membres-text09 {
    text-align: center;
  }
  .membres-text10 {
    text-align: center;
  }
  .membres-text11 {
    text-align: center;
  }
  .membres-text12 {
    text-align: center;
  }
  .membres-text13 {
    text-align: center;
  }
  .membres-text14 {
    text-align: center;
  }
  .membres-text15 {
    text-align: center;
  }
  .membres-container1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .membres-container3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .membres-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .membres-text16 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .membres-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .membres-mobile-menu {
    padding: 16px;
  }
  .membres-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .membres-text07 {
    width: 479px;
    min-width: 479px;
  }
  .membres-container1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .membres-container3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .membres-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .membres-text16 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
