.blog-post-card3-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
.blog-post-card3-image {
  width: 500px;
  object-fit: cover;
}
.blog-post-card3-container {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card3-text {
  margin-bottom: var(--dl-space-space-threeunits);
}
.blog-post-card3-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card3-text1 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
.blog-post-card3-text2 {
  color: var(--dl-color-gray-black);
  font-weight: 500;
}
.blog-post-card3-text3 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
}


















@media(max-width: 991px) {
  .blog-post-card3-image {
    width: 50%;
  }
}
@media(max-width: 767px) {
  .blog-post-card3-blog-post-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .blog-post-card3-image {
    width: 100%;
  }
  .blog-post-card3-container {
    width: 100%;
  }
  .blog-post-card3-text {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-card3-container1 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .blog-post-card3-text2 {
    width: auto;
  }
}

.problmes-solutions-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.problmes-solutions-navbar-interactive {
  width: 100%;
  height: 154px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #000000;
}
.problmes-solutions-navlink {
  display: contents;
}
.problmes-solutions-image {
  width: 105px;
  height: 105px;
  border-radius: 50px;
  text-decoration: none;
  border-top-left-radius: 10;
  border-top-right-radius: 10;
  border-bottom-left-radius: 10;
  border-bottom-right-radius: 10;
}
.problmes-solutions-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.problmes-solutions-links {
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.problmes-solutions-membres {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  text-decoration: none;
}
.problmes-solutions-projet {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.problmes-solutions-rapport {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.problmes-solutions-burger-menu {
  display: none;
}
.problmes-solutions-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.problmes-solutions-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: gray;
}
.problmes-solutions-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.problmes-solutions-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.problmes-solutions-logo {
  height: 2rem;
}
.problmes-solutions-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.problmes-solutions-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.problmes-solutions-links1 {
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.problmes-solutions-membres1 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  text-decoration: none;
}
.problmes-solutions-projet1 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.problmes-solutions-rapport1 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.problmes-solutions-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.problmes-solutions-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.problmes-solutions-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.problmes-solutions-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.problmes-solutions-text4 {
  font-size: 3rem;
  text-align: center;
}
.problmes-solutions-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.problmes-solutions-container1 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.problmes-solutions-container2 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.problmes-solutions-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.problmes-solutions-text5 {
  font-size: 3rem;
  text-align: center;
}
.problmes-solutions-blog1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.problmes-solutions-container3 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.problmes-solutions-container4 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.problmes-solutions-footer {
  width: 100%;
  height: 0px;
  display: flex;
  max-width: auto;
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #000000;
}
.problmes-solutions-text6 {
  color: rgb(255, 255, 255);
}
@media(max-width: 767px) {
  .problmes-solutions-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .problmes-solutions-desktop-menu {
    display: none;
  }
  .problmes-solutions-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .problmes-solutions-icon {
    fill: #ffffff;
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
  }
  .problmes-solutions-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .problmes-solutions-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .problmes-solutions-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .problmes-solutions-blog1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .problmes-solutions-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .problmes-solutions-text6 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .problmes-solutions-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .problmes-solutions-mobile-menu {
    padding: 16px;
  }
  .problmes-solutions-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .problmes-solutions-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .problmes-solutions-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .problmes-solutions-blog1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .problmes-solutions-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .problmes-solutions-text6 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
